{%extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="card">
        <h1>Question {{object.pk}} :</h1>
        <div class="card-body">
            <h5 class="card-title">{{object.pollq}}</h5>
            <br>
            <div class="row">
                <div class="col col-4">
                    <h5> 1. {{object.option1}}</h5>
                </div>
                <div class="col col-4">
                    <h5> 2. {{object.option2}}</h5>
                </div>
                <div class="col col-4">
                    <h5> 3. {{object.option3}}</h5>
                </div>
            </div>
            <br>
            <div>
                <p>Total Votes :{{object.total_count}}</p>
                <p>{{object.option1}} : {{object.option1votes}}</p>
                <p>{{object.option2}} : {{object.option2votes}}</p>
                <p>{{object.option3}} : {{object.option3votes}}</p>
            </div>
            <br>
            <a class="btn btn-primary" href="{% url 'qvote' object.id%}">Vote Now</a>
            <br>
            <hr>
            {% if object.author == request.user %}
                <h5>Modify your poll</h5>
                <br>
                <div class="row">
                    <div class="col col-2">
                        <a href="{% url 'qupdate' object.id %}" class="btn btn-warning">Update Poll</a>
                    </div>
                    <div class="col col-2">
                        <a href="{% url 'qdelete' object.id %}" class="btn btn-danger">Delete Poll</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}