{%extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="card" >
        <h1 style="margin-left:20px; margin-top:20px; text-decoration:underline ;">Question {{object.pk}} :</h1>
        <small style="margin-left:20px"><em>Started By : {{object.author.username}}</em></small>
        <small style="margin-left:20px"><em>{{object.date_posted}}</em></small>
        <div class="card-body">
            <h5 class="card-title">{{object.pollq}}</h5>
            <br>
            <table class="table table-hover table-dark" >
                <tbody>
                    <tr>
                    <th scope="row">{{object.option1}}</th>
                    <td>{{object.option1votes}}</td>
                    </tr>
                    <tr>
                    <th scope="row">{{object.option2}}</th>
                    <td>{{object.option2votes}}</td>
                    </tr>
                    <tr>
                    <th scope="row">{{object.option3}}</th>
                    <td >{{object.option3votes}}</td>
                    </tr>
                    <tr>
                    <th scope="row">Total Votes</th>
                    <td >{{object.total_count}}</td>
                    </tr>
                </tbody>
            </table>

            <br>
            <a class="btn btn-primary" href="{% url 'qvote' object.id%}">Vote Now</a>
            <br>
            <hr>
            {% if object.author == request.user %}
                <h5>Modify your poll</h5>
                <br>
                <div class="row">
                    <div class="col col-2">
                        <a href="{% url 'qupdate' object.id %}" class="btn btn-warning">Update Poll</a>
                    </div>
                    <div class="col col-2">
                        <a href="{% url 'qdelete' object.id %}" class="btn btn-danger">Delete Poll</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}